.footer {
    background-color: #110e1b;

    .footerContent {
        border-top: solid #0e091b 1px;
        padding: 32px 22px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: white;

        @media (max-width: 420px) {
            font-size: 13px;
        }
    }
}

.grid {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2rem;
}
.p {
    @media (max-width: 420px) {
        font-size: 13px;
    }
}
.powed {
    display: flex;
    align-items: center;

    img {
        width: 25px;
        margin-left: 10px;

        @media (max-width: 420px) {
            width: 15px;
        }
    }
}

